{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_boost/navbar }}

    <section class="dashboard_sidebar dn-1199">
        <div class="dashboard_sidebars">
            <div class="user_board">
                <div class="dashbord_nav_list">
                    {{{ output.user_menu }}}
                    
                    {{#output.edash_if_admin}}
                        <ul>
                            <li><a href="{{{ output.site_url }}}/admin/settings.php?section=themesettingedash"><i class='bx bxs-edit' ></i> eDash Options</a></li>
                        </ul>
                    {{/output.edash_if_admin}}
                </div>
                <div class="pl30 pr30">
                    {{{ leftblocks }}}
                </div>
            </div>
        </div>
    </section>

    <div class="our-dashbord dashbord">
        <div class="dashboard_main_content">
            <div class="container-fluid">
                <div class="main_content_container">
                    <div class="row">
                        {{#hasblocks}}
                            <div class="col-lg-8">
                        {{/hasblocks}}
        
                        {{^ hasblocks }}
                            <div class="col-lg-12">
                        {{/hasblocks}}
                            <nav class="breadcrumb_widgets {{{breadcrumb_clip_dash}}}" aria-label="breadcrumb mb30">
                                <h2 class="title float-left-d">{{{ pageheading }}}</h2>
                                <ol class="breadcrumb float-right-d">
                                    {{{ output.navbar }}}
                                </ol>
                            </nav>

                            {{#secondarymoremenu}}
                                <div class="secondary-navigation d-print-none">
                                    {{> core/moremenu}}
                                </div>
                            {{/secondarymoremenu}}

                            {{{ output.full_header }}}

                            {{{ output.region_main_settings_menu }}}
                            {{#has_blocks_above_content}}
                                {{{ blocks_above_content }}}
                            {{/has_blocks_above_content}}
                            {{{ output.course_content_header }}}
                            {{{ output.main_content }}}
                            {{{ output.activity_navigation }}}
                            {{{ output.course_content_footer }}}
                            {{#has_blocks_below_content}}
                                {{{ blocks_below_content }}}
                            {{/has_blocks_below_content}}
                            {{{ addblockbutton }}}
                        </div>
                            {{#hasblocks}}
                                <div class="col-lg-4">
                                    <div class="edash-sidebar-region" aria-label="{{#str}}blocks{{/str}}">
                                        {{{ sidepreblocks }}}
                                    </div>
                                </div>
                            {{/hasblocks}}
                    </div>
                </div>
            </div>
        </div>
        {{> theme_boost/footer }}
    </div>

    {{{ output.standard_after_main_region_html }}}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
    M.util.js_complete('theme_boost/loader');
});

M.util.js_pending('theme_boost/drawer');
require(['theme_boost/drawer'], function(drawer) {
    drawer.init();
    M.util.js_complete('theme_boost/drawer');
});
{{/js}}
