{{#edash_facebook_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_facebook_url }}}"><i class="fa fa-facebook"></i></a></li>
{{/edash_facebook_url}}
{{#edash_twitter_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_twitter_url }}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg></a></li>
{{/edash_twitter_url}}
{{#edash_instagram_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_instagram_url }}}"><i class="fa fa-instagram"></i></a></li>
{{/edash_instagram_url}}
{{#edash_pinterest_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_pinterest_url }}}"><i class="fa fa-pinterest"></i></a></li>
{{/edash_pinterest_url}}
{{#edash_dribbble_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_dribbble_url }}}"><i class="fa fa-dribbble"></i></a></li>
{{/edash_dribbble_url}}
{{#edash_google_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_google_url }}}"><i class="fa fa-google"></i></a></li>
{{/edash_google_url}}
{{#edash_youtube_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_youtube_url }}}"><i class="fa fa-youtube-play"></i></a></li>
{{/edash_youtube_url}}
{{#edash_vk_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_vk_url }}}"><i class="fa fa-vk"></i></a></li>
{{/edash_vk_url}}
{{#edash_500px_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_500px_url }}}"><i class="fa fa-500px"></i></a></li>
{{/edash_500px_url}}
{{#edash_behance_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_behance_url }}}"><i class="fa fa-behance"></i></a></li>
{{/edash_behance_url}}
{{#edash_digg_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_digg_url }}}"><i class="fa fa-digg"></i></a></li>
{{/edash_digg_url}}
{{#edash_flickr_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_flickr_url }}}"><i class="fa fa-flickr"></i></a></li>
{{/edash_flickr_url}}
{{#edash_foursquare_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_foursquare_url }}}"><i class="fa fa-foursquare"></i></a></li>
{{/edash_foursquare_url}}
{{#edash_linkedin_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_linkedin_url }}}"><i class="fa fa-linkedin"></i></a></li>
{{/edash_linkedin_url}}
{{#edash_medium_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_medium_url }}}"><i class="fa fa-medium"></i></a></li>
{{/edash_medium_url}}
{{#edash_meetup_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_meetup_url }}}"><i class="fa fa-meetup"></i></a></li>
{{/edash_meetup_url}}
{{#edash_snapchat_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_snapchat_url }}}"><i class="fa fa-snapchat-ghost"></i></a></li>
{{/edash_snapchat_url}}
{{#edash_tumblr_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_tumblr_url }}}"><i class="fa fa-tumblr"></i></a></li>
{{/edash_tumblr_url}}
{{#edash_vimeo_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_vimeo_url }}}"><i class="fa fa-vimeo"></i></a></li>
{{/edash_vimeo_url}}
{{#edash_wechat_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_wechat_url }}}"><i class="fa fa-wechat"></i></a></li>
{{/edash_wechat_url}}
{{#edash_whatsapp_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_whatsapp_url }}}"><i class="fa fa-whatsapp"></i></a></li>
{{/edash_whatsapp_url}}
{{#edash_wordpress_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_wordpress_url }}}"><i class="fa fa-wordpress"></i></a></li>
{{/edash_wordpress_url}}
{{#edash_weibo_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_weibo_url }}}"><i class="fa fa-weibo"></i></a></li>
{{/edash_weibo_url}}
{{#edash_telegram_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_telegram_url }}}"><i class="fa fa-telegram"></i></a></li>
{{/edash_telegram_url}}
{{#edash_moodle_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_moodle_url }}}"><i class="fa fa-graduation-cap"></i></a></li>
{{/edash_moodle_url}}
{{#edash_amazon_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_amazon_url }}}"><i class="fa fa-amazon"></i></a></li>
{{/edash_amazon_url}}
{{#edash_slideshare_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_slideshare_url }}}"><i class="fa fa-slideshare"></i></a></li>
{{/edash_slideshare_url}}
{{#edash_soundcloud_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_soundcloud_url }}}"><i class="fa fa-soundcloud"></i></a></li>
{{/edash_soundcloud_url}}
{{#edash_leanpub_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_leanpub_url }}}"><i class="fa fa-leanpub"></i></a></li>
{{/edash_leanpub_url}}
{{#edash_xing_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_xing_url }}}"><i class="fa fa-xing"></i></a></li>
{{/edash_xing_url}}
{{#edash_bitcoin_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_bitcoin_url }}}"><i class="fa fa-btc"></i></a></li>
{{/edash_bitcoin_url}}
{{#edash_twitch_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_twitch_url }}}"><i class="fa fa-twitch"></i></a></li>
{{/edash_twitch_url}}
{{#edash_github_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_github_url }}}"><i class="fa fa-github"></i></a></li>
{{/edash_github_url}}
{{#edash_gitlab_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_gitlab_url }}}"><i class="fa fa-gitlab"></i></a></li>
{{/edash_gitlab_url}}
{{#edash_forumbee_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_forumbee_url }}}"><i class="fa fa-forumbee"></i></a></li>
{{/edash_forumbee_url}}
{{#edash_trello_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_trello_url }}}"><i class="fa fa-trello"></i></a></li>
{{/edash_trello_url}}
{{#edash_weixin_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edash_weixin_url }}}"><i class="fa fa-weixin"></i></a></li>
{{/edash_weixin_url}}