<ul class="edash-header-user-sec pull-right" id='usernavigation'>

    {{{ output.navbar_plugin_output }}}
    
    {{#output.edash_if_admin}}
        {{#primarymoremenu}}
            <li class="user_setting edash-settings-nav">
                <div class="dropdown">
                    <a class="notification-icon" href="{{{ config.wwwroot }}}/admin/search.php"><i class='icon bx bx-cog'></i></a>
                </div>
            </li>
        {{/primarymoremenu}}
    {{/output.edash_if_admin}}

    <li>
        {{#usermenu}}
            {{> core/user_menu }}
        {{/usermenu}}
    </li>
</ul>